body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f4f6f8;
  width: 100% !important;
  height: 100% !important;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}